@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');


:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink : #e5345b;
    --blue: #0c1728;
    --gray: #303030;
    --beige: #f5f5dc;
    --goshwhite: #f8f8ff;
    --florawhite: #fffaf0;
}

.title {
    font-family: var(--lg-font);
    background-color: var(--pink);
    padding: 15px 0;
    color: var(--goshwhite);
    border-bottom: 5px solid var(--goshwhite);
}

/* Column Left */

.colLeft {
    background-color: var(--beige);
    font-family: var(--sm-font);
    height: 100vh;
    border-top-right-radius: 10px;
    border-right: 5px solid var(--goshwhite);
}

.colLeft .title {
    margin: 30px 0;
}

.listFeature .list-item {
    padding: 15px;
    margin-bottom: 20px;
}

.listFeature .list-item:nth-child(1) {
    margin-top: 30px;
}

/* .list-item {
    border-bottom: 1px solid #fff;
} */

.list-link {
    color: var(--gray);
}

.active{
    border-bottom: 3px solid var(--pink);
    border-right: 3px solid var(--pink);
    border-radius: 15px;
    padding: 10px;
}
/* Column Right */

.colRight {
    background-color: var(--florawhite);
    border-top-left-radius: 10px;
}

